<script>
var discussDIV = null;
var dicusseId = 0;
var button = null;
var count = 1;
var pageCount = 1;
//var pageNum = 1;
var catalog = null;
var searchValue = "";

$(function () {
    //添加单击链接匹配
    $('#headLink a').each(function (index, item) {

        if (document.location.pathname === "/") {

            $('#headLink a').first().parent().addClass("active");
        }
        else if ($(this).attr("href") !== "/" && document.location.pathname.indexOf($(this).attr("href"))!==-1) {

            $(this).parent().addClass("active");

        }
    }
     


    );


});
//new Vue({
//    el: '#app',
//    data: {
//        message: '<h1>菜鸟教程</h1>'
//    }
//    });
//    function loadding(e) {
//        $(e).button("loading").delay(500).queue(function () {
//           $(e).button('reset');
//            $(e).dequeue(); 
//            getDiscussCount();
//        })
//    }
    function discuss(event, id) {  
    
    var target = $($(event.target).parents("div").get(0)).next(".discuss");   
        discussDIV =$($(event.target).parents("div").get(0)).next(".discuss").children(".discussContent");
           discussDIV.load('@Url.Action("DiscsussPartial", "Knowledge")', { knowledgeId: id });
        target.toggle();
        getDiscussCount()
  
}
function more() {
    pageCount += 1;
    $.ajax({
        url: '@Url.Action("Index","Home")', data: {
            pageCount: pageCount,
            //pageNum: pageNum,
            searchValue: searchValue,
            catalog: catalog,

        }, beforeSend: function (xhr) {
         
            $('#loading').css('visibility', 'visible');
            $('#noMore').css('visibility', 'hidden');

           
           
        }, success: function (req, status, xhr) {
           
            if (status === "success") {
                if (req === '') {
                   
                        var warning = document.getElementById('noMore');
                        if (warning == undefined) {
                            $('#loading').after('<div id="noMore" style="color:red;text-align:center">已经没有更多了</div >');
                        }
                        else {
                            $('#noMore').css('visibility', 'visible');
                        }

                }
                else {
                    if ($('#moreBtn').length === 0) {
                        $('#contentBody').append(req);
                        $('.panel-body-noborder.panel-fit').each(function (indx, item) {
                            if ($(item).height() < 100) {
                                $(item).prev().find(".readAllBtn").css('display', 'none');

                            }

                        })

                    }
                    else {
                        $('#moreBtn').before(req);
                    }

                }
                $('#loading').css('visibility', 'hidden');
            }


        }, error: function (xhr, status, error) {

            $('#loading').css('display', 'none');
            $('#contentBody').append('<div id="noMore" class="alert alert-warning"><a href = "#" class= "alert-link" >' +error +'</a ></div >');


        }

    });
        
        
    



    }

    function getDiscussCount() {
        
         $.get('@Url.Action("GetDiscussCout", "Knowledge")/?knowledgeId=' + dicusseId, function (req,status,xhr) {
        if (status=='success') {
            $($(button).children('span')[1]).html(req);
        }

    });

    }
      function getPraiseCount(p,id) {
        
          $.get('@Url.Action("GetPraiseCout", "Knowledge")/?knowledgeId=' + id, function (req,status,xhr) {
        if (status=='success') {
            $(p).html(req);
        }

    });

    }
function disucssSuccess() {

    discussDIV.load('@Url.Action("DiscsussPartial","Knowledge")', { knowledgeId: dicusseId });
    getDiscussCount();
    
}

    function praise(event, id, userId) {
    //    console.log(event.target);
    //    console.log(event.currentTarget);
    //if (event.target != event.currentTarget) {
       
    //    return false;
    //}
    var p = $(event.target);
    if (userId === "0") {
        alert("请先登陆后再点赞");
    }
    else {
        $.post('@Url.Action("Praise","Knowledge")', { knowlegeId: id }, function (req, status, xhr) {

            if (status === "success") {
                if (req === "点赞成功") {

                    p.css("color", 'red');
                    getPraiseCount(p,id);
                }
                else if (req === "点赞已取消") {
                    p.css("color", 'darkgray');
                    getPraiseCount(p,id);
                }
                else {
                    alert(req);
                }

            }

        });
    }
}
  
    function search(e) {
        if (e.keyCode==13) {
         submit();
        }


    }
    function removeKnow(id) {
        if (confirm("确认删除")) {
    $.get('@Url.Action("Delete","Knowledge")/' + id, function (req, status, xhr) {
            if (status === 'success') {
                if (req ==='True') {
                   $('#' +id).remove();
                }
                else {
                    alert("删除失败");
                }
               
            }

        })
        }  
        

    

    }

    function readALL(e) {
        var me = $(e.currentTarget);
       
        if (me.text() === "阅读全文") {
            me.closest('div').next().css('max-height', '')
            //me.closest('div').next().height('auto')
           
            me.text('收起');
            
        } else if (me.text() === "收起") {
            me.closest('div').next().css('max-height', 200)
            me.text('阅读全文');

        } 
     
       

    }

    function uploadFile(id) {

        var fileObjs = document.getElementById(id).files; // js 获取文件对象
        if (typeof (fileObjs) == "undefined" || fileObjs.size <= 0) {
            alert("请选择Excel文件");
            return;
        }
        var formFile = new FormData();
        formFile.append("action", "UploadVMKImagePath");
        for (var i = 0; i < fileObjs.length; i++) {
            formFile.append("files" +i , fileObjs[i]); //加入文件对象
        }
        
        var data = formFile;
        $.ajax({
            url: '@Url.Action("GetFiles","Knowledge")',
            data: data,
            type: "Post",
            dataType: "text",
            cache: false,//上传文件无需缓存
            processData: false,//用于对data参数进行序列化处理 这里必须false
            contentType: false, //必须
            xhr: function () { //获取ajaxSettings中的xhr对象。
                var xhr = $.ajaxSettings.xhr();
                if (xhr.upload) {
                    xhr.upload.addEventListener("progress", function (e) {
                        var loaded = e.loaded;//已经上传大小情况
                        var tot = e.total;//附件总大小
                        var per = Math.floor(100 * loaded / tot);  //已经上传的百分比                     
                        console.log('附件总大小 = ' + loaded);
                        console.log('已经上传大小 = ' + tot);
                        $('#uploadProgress').progressbar('setValue', per); 
                    }, false);
                    return xhr;
                }

            }, 
            beforeSend: function (xhr) {              
                $('#uploadProgress').css('visibility', 'visible');
               

            },
            success: function (result) {
                $('#uploadProgress').css('visibility', 'hidden');
                //$.messager.progress('close');
                if (result==="发生错误") {
                    $.messager.alert({
                        title: "错误",
                        msg: "发生错误，上传错误",
                        icon: "error"
                    })
                    return;
                }            
                               
                //$.messager.show({
                //    title: '提示',
                //    msg: '上传成功',
                //    timeout: 1000,
                //    showType: 'slide',
                //    style: {
                //        right: '',
                //        top: document.body.scrollTop + document.documentElement.scrollTop,
                //        bottom: ''
                //    }

                //});
                document.getElementById("accessories").value = null;
                var arr = JSON.parse(result);
                if ($('#uploadProgress').next('ul').length != 0) {
                    for (var i in arr) {


                        $('#uploadProgress').next('ul').append("<li data-file='" + i + "'class='list-group-item'>" + arr[i] + "</li>");


                    }
                }
                else {
                    var html = "<ul id='uplist' class='list-group'>";
                    for (var i in arr) {

                        html += "<li data-file='" + i + "'class='list-group-item'>" + arr[i] + "</li>";

                    }
                    html += "</ul>";
                    $('#uploadProgress').after(html);

                    }
                       
                        


                     


                }
                

            })


     


    }
    function GetRoleUserSuccess(id,roleName) {
        $('#userRole').css('display', 'block');
        $('#userRole').data('roleId', id);
        var roleId = id;
         $('#roleCaption').text(roleName);
        $('#userRoleTableBtn').off().click(function () {
                getNotAddUserList(roleId, roleName)

        } );
    }

    function getNotAddUserList(roleId, roleName) {
        
        $.get('@Url.Action("UserList", "Manage")',{roleId:roleId },function(req,status,xhr){
            if (status == 'success') {
                $('#notUserListBody').children().remove()
                 userList = JSON.parse(req);
                for (var i = 0; i < userList.length; i++) {
                    $('#notUserListBody').append("<tr userName=" +userList[i].UserName+  "><td>" + "<input type='checkbox' id=" + userList[i].Id + " />"  + "</td>" + "<td>" + userList[i].Email + "</td>" +"<td>" + userList[i].UserName+"</td>")
                }

            }
            
            } );
    }

    //https://www.jianshu.com/p/c1ee12a328d2  ES6箭头函数里的this
    function saveUserToRoleBtn(roleName,roleId) {
      //var arr =  $('#notUserListBody input:checked').map(function (currentValue, index, arr) {
      //    return 6;

      //});
        var arr = $.map($('#notUserListBody input:checked'), function(item, index) {
               return item.id

        });
        $.post('@Url.Action("SaveUserToRole","Manage")', {
            userIds: arr,
            roleName:roleName

        }, function (req) {
                if (req ==="添加成功") {
                    alert("添加成功");
                    $('#userList').modal('hide');
                }
                else {
                    alert("添加失败");
                }

            });
        $('#userRoleTable').load('@Url.Action("_RoleUserPartial", "Manage")' + "/" + roleId);
    }


</script>
