
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>知识分类-@ViewBag.Title</title>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/themes/texteditor.css" rel="stylesheet" />
    <link href="~/Content/Common.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.3.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/jquery.texteditor.js"></script>
    <style>
        body, html {
            height: 100%;
            min-height: 100%;
            background-color: rgb(240,240,240);
           
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div id="head" class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">知识分享网站</span>
                    @*折叠时三条横线使用*@
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("知识分享网站", "Index", "Home", null, htmlAttributes: new { @class = "navbar-brand" })
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse collapsing" id="navbar-collapse-1">
                <ul id="headLink" class="nav navbar-nav">
                    <li>@Html.ActionLink("首页", "Index", "Home")</li>
                    <li>@Html.ActionLink("帮助", "Help", "Home")</li>
                    <li>@Html.ActionLink("关于", "About", "Home")</li>
                    <li>@Html.ActionLink("我的提问", "MyAsk", "Manage")</li>
                    <li>@Html.ActionLink("我的知识", "MyKnowledge", "Manage")</li>
                 
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">系统管理<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("用户管理", "Index", "Home", routeValues: new { catalog = 1 }, htmlAttributes: null)</li>
                <li>@Html.ActionLink("角色管理", "RoleMangar", "Manage")</li>

            </ul>
        </li>
        @*<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">编程知识<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><b style="color:blue">.NET</b></li>
                <li><a href="#">C#</a></li>
                <li><a href="#">.NET CORE</a></li>
                <li><a href="#">MVC</a></li>
                <li class="divider"></li>
                <li><b style="color:blue">JAVA</b></li>
                <li><a href="#">Java</a></li>
                <li class="divider"></li>
                <li><b style="color:blue">SQL</b></li>
                <li>@Html.ActionLink("数据库脚本", "Index", "Home", routeValues: new { catalog = 3 }, htmlAttributes: null)</li>

                <li class="divider"></li>
            </ul>*@
                </ul>
                <form   action='@Url.Action("Index","Home")' class=" navbar-form navbar-left">
                    <div class="form-group">
                        <input id="searchValue" name="searchValue" type="text" class="form-control" placeholder="标题或者内容" onkeydown="$('#searchBtn').submit()">
                    </div>

                    <button id="searchBtn" type="submit" class="btn btn-default">
                        搜索

                    </button>
                </form>

                @Html.Partial("_LoginPartial")
            </div>



            <!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container" style="padding-top:50px;width:100%;">

        <div class="row">
            <div class="col-md-12" id="body">

                @RenderBody()
            </div>

        </div>


        <footer style="margin-top:30px">
            <p>&copy; @DateTime.Now.Year - 我的知识分享应用程序—<small>俞程仁</small></p>
            <p>当前访问人数量：@HttpContext.Current.Application["countOnline"] </p>
        </footer>


    </div>
   
    @Html.Partial("_JsPartialPage")
    @RenderSection("Scripts", false)

</body>

</html>
