@using KnowledgeMVCSite.Models
@model List<Knowledge>

@foreach (Knowledge item in Model)
{
    <div style="padding:10px 10px 20px 10px;margin-top:30px;background-color:white">
        <div style="padding-bottom:10px">
            <p style="display:block;font-size:20px">@item.User.UserName <span style="color:blue;font-size:25px;" class="glyphicon glyphicon-chevron-right"></span>@item.Category.Name</p>
            <strong style="font-size:18px">@item.Title </strong>
        </div>

        <div class="panel-body-noborder">
            @Html.Raw(@HttpUtility.UrlDecode(@item.Context))
        </div>
        <div style="margin-top:40px">
            <p><span style="color:darkgray" class="glyphicon glyphicon-thumbs-up"></span></p>
            <button class="btn btn-primary pull-right" style="margin-top:-20px;margin-right:20%" onclick="discuss(event,@item.Id)">
                <span class="glyphicon glyphicon-comment"></span>评论
            </button>
            <button class="btn btn-primary pull-right" style="margin-top:-20px;margin-right:-20%">
                <span class="glyphicon glyphicon-share-alt"></span>分享
            </button>
        </div>
        <div class="discuss" style="margin-top:40px"></div>

    </div>



}
