@using KnowledgeMVCSite.Models
@model List<Knowledge>
@{
    ViewBag.Title = "Index";
}

<div id="app">
    <div id="searchBarDIV">
        <form id="searchBar" style="margin-top:10px;width:100%;" class="form-inline" action='@Url.Action("Index","Home")'>

            <div class="form-group" style="width:100%">
                <span style="position:absolute;top:11px;right:7%;" class="glyphicon glyphicon-search"></span>
                <input style="width:100%" id="searchValue" name="searchValue" type="text" class="form-control " placeholder="标题或者内容" onkeydown="search(event)" />
            </div>
        </form>
    </div>
    <div class="row" style="margin-left:0;margin-right:0;margin-bottom:5px; padding: 10px 0; background-color:white">
        <div class="col-md-12">
            <a href='@Url.Action("Create","Knowledge")' class="btn btn-primary">
                <span class="glyphicon">
                    <img src="~/Content/img/Create.png" />
                </span> 创建知识
            </a>

        </div>
        <div class="col-md-12" style="margin-top:25px" id="catalog">
            <h3>热门标签</h3>



        </div>
    </div>
</div>


<div id="contentBody" style="margin-bottom:30px">


    @if (Model.Count != 0)
    {
        @Html.Partial("SearchPartial", Model)
        
    }
    else
    {

        <div id="noKnow" class="alert alert-warning">
            <a href="@Url.Action("Create","Knowledge")" class="alert-link"> 还没有人创建知识，赶紧创建吧</a>
        </div>

    }



</div>
<div id="loading" style="visibility:hidden;">
    <img class="center-block" style="width:30%;height:30%" src="~/Content/img/loading.gif" />

</div>



@section Scripts
{
    <script>
        $(document).ready(function () {
            $('.panel-body-noborder.panel-fit').each(function (indx, item) {
                if ($(item).height() < 200) {
                    $(item).prev().find(".readAllBtn").css('display', 'none');

                }

            });
            $('#contentBody').bind('touchstart', function () {
               
                if (document.getElementById('navbar-collapse-1').classList.contains('in')) {

                    $('#navbar-collapse-1').collapse('hide');
                }  

            })

            $('#contentBody').click(function () {

                if (document.getElementById('navbar-collapse-1').classList.contains('in')) {

                    $('#navbar-collapse-1').collapse('hide');
                }  


            });

            function GetSlideDirection(startX, startY, endX, endY) {
                var dy = startY - endY;
                //var dx = endX - startX;  
             
                if (dy > 0) {//向上滑动

                    if ($(this).scrollTop()===0) {
                        more();
                    }
                   
                  
                } else {//向下滑动
                    
                  
                }
              
            }

            //滑动处理  
            var startX, startY;
            document.addEventListener('touchstart', function (ev) {
                startX = ev.touches[0].pageX;
                startY = ev.touches[0].pageY;
            }, false);



            document.addEventListener('touchend', function (ev) {
                var endX, endY;
                endX = ev.changedTouches[0].pageX;
                endY = ev.changedTouches[0].pageY;
                var direction = GetSlideDirection(startX, startY, endX, endY);
                switch (direction) {
                    case 0:
                        break;
                    case 1:
                    // 手指向上滑动
                    //alert('上');break;  
                    case 2:
                    // 手指向下滑动
                    //alert('下');break;  
                    default:
                }
            }, false);
        });

        @if (ViewBag.catalog == null)
        {
            @:catalog = null;
        }
        else
        {
             @:catalog = @ViewBag.catalog;
        }

        searchValue = '@ViewBag.searchValue';

      

        $(window).scroll(function () {
            var scrollTop = $(this).scrollTop();    //滚动条滚动距离
            var scrollHeight = $(document).height();//文档内容高度
            var windowHeight = $(this).height();  //文档可视区域高度
            if (scrollTop > 100 && $('#headTitle').css('display') =='block') {
                $('#headTitle').hide();
                $('#searchBar').appendTo($('#head'));
                $('#searchBar').css({
                    position: 'absolute',
                    top: 0,
                    left: '5px',
                    width: '70%',
                })

            }

            else if (scrollTop==0) 
            {
                $('#headTitle').show();
                $('#searchBar').appendTo($('#searchBarDIV'));
                $('#searchBar').css({
                    position: 'static',
                    width: '100%',
                })
            }
            
            if (scrollHeight - scrollTop - windowHeight ===0) {
               
                more();
            }
        });
    </script>


}


