@using KnowledgeMVCSite.Models
@model List<Knowledge>
@{
    ViewBag.Title = "Index";
}

    <div id="app">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/img/1.jpg" alt="1">
                </div>
                <div class="item">
                    <img src="~/Content/img/2.jpg" alt="2">
                </div>
                <div class="item">
                    <img src="~/Content/img/3.jpg" alt="3">
                </div>
                <div class="item">
                    <img src="~/Content/img/4.jpg" alt="4">
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="carousel-control left" href="#myCarousel"
               data-slide="prev"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="carousel-control right" href="#myCarousel"
               data-slide="next"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>

        </div>
        <div class="row" style="margin-left:0;margin-right:0;margin-bottom:5px; padding: 10px 0; background-color:white">
            <div class="col-md-12">
                <a href='@Url.Action("Create","Knowledge")' style="margin-right:5%" class="btn btn-primary">
                    <span class="glyphicon">
                        <img src="~/Content/img/Create.png" />
                    </span> 创建知识
                </a>
                <a href='@Url.Action("Ask","Ask")' style="margin-right:5%" class="btn btn-primary">
                    <span class="glyphicon">
                        <img style="height:41px" src="~/Content/img/ask.jpg" />
                    </span> 开始提问
                </a>

            </div>

        </div>
    </div>

<div class="row" >
    <div id="contentBody" class="col-md-9">

        @if (Model.Count != 0)
        {
            @Html.Partial("SearchPartial", Model)
            @*<div id="moreBtn" style="margin-top:30px">
                    <button class="btn btn-primary center-block" onclick="more()">加载更多</button>
                </div>*@
            <script>
              //  console.log("hellowrl")
                $(function () {
                    
                    $(window).scroll(function () {
                       
                        var scrollTop = $(this).scrollTop();    //滚动条滚动距离
                        var scrollHeight = $(document).height();//文档内容高度
                        var windowHeight = $(this).height();  //文档可视区域高度
                        //console.log(scrollTop)
                        //console.log(scrollHeight)
                        //console.log(windowHeight)
                        var distance = scrollHeight - scrollTop - windowHeight;
                        if (distance >=-1 && distance<=1 ) {  
                            //console.log('dddd' + (scrollHeight - scrollTop - windowHeight))
                            more();
                        }
                    });
                })
              
            </script>
        }
        else
        {

            <div id="noKnow" class="alert alert-warning">
                <a href="@Url.Action("Create","Knowledge")" class="alert-link"> 还没有人创建知识，赶紧创建吧</a>
            </div>
            
        }


    </div>



    <div class="col-md-3" style="margin-top:25px" id="catalog">
        <h3>热门标签</h3>



    </div>

</div>
<div id="loading" style="display:none">
    <img class="center-block" src="~/Content/img/loading.gif" />

</div>
<style>
    #myCarousel,#myCarousel img {
        width:100%;
        height: 500px;
    }
    /*#myCarousel img
    {
      
        height: 500px;
        width:calc(100% + 15px);
    }
    #myCarousel{
        margin-right:-15px;
        margin-left:-15px;
    }*/
</style>


@section Scripts
{
    <script>
        $(document).ready(function () {
            $('.panel-body-noborder.panel-fit').each(function (indx, item) {
                if ($(item).height() < 200) {
                    $(item).prev().find(".readAllBtn").css('display', 'none');

                }

            });

            $.get('@Url.Action("GetCatalog", "knowledge")', function (req, status, xhr) {
                var catalog = JSON.parse(req);
                catalog.forEach(function (item, index, arr) {

                    $('#catalog').append('<div style="max-width:100%"><span  style="margin-bottom:5px;display:inline-block" class="label label-info"><a  href="/?catalog=' + item.CategoryId + '">' + item.Name + "</a></span></div>");
                })
            }

            );
        });

        @if (ViewBag.catalog == null)
        {
            @:catalog = null;
        }
        else
        {
             @:catalog = @ViewBag.catalog;
        }

        searchValue = '@ViewBag.searchValue';
    </script>
    
}


