@using KnowledgeMVCSite.Models
@model List<Knowledge>
@{
    ViewBag.Title = "Index";
}
<div id="app">
    <div class="row" style="margin-left:0;margin-right:0;margin-bottom:5px; padding: 10px 0; background-color:white">
        <div class="col-md-12">
            <a href='@Url.Action("Create","Knowledge")' class="btn btn-primary">
                <span class="glyphicon">
                    <img src="~/Content/img/Create.png" />
                </span> 创建知识
            </a>

        </div>

    </div>


    @foreach (Knowledge item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">@item.Title</div>
            <div class="panel-body">
             @Html.Raw(@HttpUtility.UrlDecode(@item.Context))
            </div>
        </div>
    }

  




</div>





    @section Scripts
{      
        <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
        <link href="~/Content/themes/icon.css" rel="stylesheet" />
        <link href="~/Content/themes/texteditor.css" rel="stylesheet" />
        <script src="~/Scripts/vue.js"></script>      
        <script src="~/Scripts/jquery.easyui-1.4.5.js"></script>
        <script src="~/Scripts/jquery.texteditor.js"></script>
        <script>
            new Vue({
                el: '#app',
                data: {
                    message: '<h1>菜鸟教程</h1>'
                }
            });



        </script>

    }


