@using KnowledgeMVCSite.Models
@model List<Knowledge>
@{
    ViewBag.Title = "Index";
}

<div id="app">

    <div class="row" style="margin-left:0;margin-right:0;margin-bottom:5px; padding: 10px 0; background-color:white">
        <div class="col-md-12">
            <a href='@Url.Action("Create","Knowledge")' class="btn btn-primary">
                <span class="glyphicon">
                    <img src="~/Content/img/Create.png" />
                </span> 创建知识
            </a>

        </div>

    </div>
</div>

<div class="row">
    <div id="contentBody" class="col-md-9">

        @if (Model.Count != 0)
        {
            @Html.Partial("SearchPartial", Model)
            <div id="moreBtn" style="margin-top:30px">
                <button class="btn btn-primary center-block" onclick="more()">加载更多</button>
            </div>
        }
        else
        {

            <div id="noKnow" class="alert alert-warning">
                <a href="@Url.Action("Create","Knowledge")" class="alert-link"> 还没有人创建知识，赶紧创建吧</a>
            </div>

        }

    </div>



    <div class="col-md-3" style="margin-top:25px" id="catalog">
        <h3>热门标签</h3>



    </div>

</div>



@section Scripts
{
    <script>
    $.get('@Url.Action("GetCatalog", "knowledge")', function (req, status, xhr) {
        var catalog = JSON.parse(req);
        catalog.forEach(function (item, index, arr) {
          
            $('#catalog').append('<p><a class="btn btn-primary" href="/know/?catalog=' + item.CategoryId+  '">' + item.Name +"</a></p>");
        })}

        );




        @if (ViewBag.catalog == null)
        {
            @:catalog = null;
        }
        else
        {
             @:catalog = @ViewBag.catalog;
        }

        searchValue = '@ViewBag.searchValue';
    </script>


}


