@using KnowledgeMVCSite.Models
@model List<Knowledge>
@{
    ViewBag.Title = "Index";
}

<div id="app">
    <div class="row" style="margin-left:0;margin-right:0;margin-bottom:5px; padding: 10px 0; background-color:white">
        <div class="col-md-12">
            <a href='@Url.Action("Create","Knowledge")' class="btn btn-primary">
                <span class="glyphicon">
                    <img src="~/Content/img/Create.png" />
                </span> 创建知识
            </a>

        </div>

    </div>
</div>
    

<div id="contentBody">

    @Html.Partial("SearchPartial",Model)
    <button   class="btn btn-primary center-block" onclick="more()">加载更多</button>
    
</div>




<style>
   
</style>


    @section Scripts
{      
        <script>
            new Vue({
                el: '#app',
                data: {
                    message: '<h1>菜鸟教程</h1>'
                }
            });

            var discussDIV = null;
            var dicusseId = 0;
            var button = null;
            var count=1
            function discuss(event, id) {  
                count += 1;
                $('#test').html(count)
                if (discussDIV == null) {
                    discussDIV = $($(event.target).parents("div").get(0)).next(".discuss");
                    button = event.target;
                    dicusseId = id;
                    discussDIV.load('@Url.Action("DiscsussPartial", "Knowledge")', { knowledgeId: id });

                }

                else if (button === event.target) {
                                           
                        discussDIV.load('@Url.Action("DiscsussPartial", "Knowledge")', { knowledgeId: id });
                    discussDIV.toggle()    
                }
                else   {
                        discussDIV.hide();
                        discussDIV = $($(event.target).parents("div").get(0)).next(".discuss");
                        button = event.target;
                        dicusseId = id;
                        discussDIV.load('@Url.Action("DiscsussPartial", "Knowledge")', { knowledgeId: id });
                        discussDIV.show();


                    
                }


            }

            function more() {
                $.post('')
                $('#contentBody').load()


            }
            function disucssSuccess() {
              
                discussDIV.load('@Url.Action("DiscsussPartial","Knowledge")', { knowledgeId: dicusseId });

            }

            function praise(event,id, userId) {

                            var p = $(event.target);
                if (userId=="0") {
                    alert("请先登陆后再点赞");
                    }
                else {
                     $.post('@Url.Action("Praise","Knowledge")', { knowlegeId: id }, function (req, status, xhr) {

                        if (status == "success") {
                            if (req == "点赞成功") {

                                p.css("color", 'red');
                            }
                            else if (req =="点赞已取消") {
                                p.css("color", 'darkgray');
                            }
                            else {
                                alert(req);
                            }

                        }

                    })
                }              


            }

        </script>

    }


