@using KnowledgeMVCSite.Models
@model Knowledge
@{


}
<h2 class="">@ViewBag.Title</h2>
@using (Html.BeginForm("Ask", "Ask", FormMethod.Post, new { @class = "form-horizontal", id = "createForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.CategoryId, new { @class = "control-label" })
        @Html.DropDownListFor(m => m.CategoryId, null, htmlAttributes: new { @class = "form-control" })
        @Html.LabelFor(m => m.Title, new { @class = "control-label", @for = "form-group-input" })
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", id = "form-group-input", placeholder = "一句话描述你分享的知识" })
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        @Html.LabelFor(m => m.Context, new { @class = "control-label" })

    </div>
    <div class="form-group">
        <div id="textEidtor" style="height:450px;padding:15px">
        </div>
        @Html.Label("accessories", "附件:")
        <input style="display:inline-block" type="file" multiple id="accessories" name="accessories" />
        <input style="display:inline-block" type="button" id="uploadFileBtn" name="uploadFileBtn" onclick="uploadFile('accessories')" value="上传" />
        <div id="uploadProgress" style="width:400px;display:inline-block;margin-top:15px;visibility:hidden"></div>
    </div>

    @Html.HiddenFor(m => m.Context, new { id = "content" })
    @Html.Hidden("IsEdit", (bool)ViewBag.IsEdit)
    @Html.HiddenFor(m => m.Id)
    <input type="hidden" id="accessoHidden" name="accessoHidden" />
    @Html.ValidationMessageFor(m => m.Context, "", new { @class = "text-danger" })
    <div class="form-group">
        <input type="submit" class="btn btn-primary" name="submit" value="发布知识" onclick="PushKnowledge()" />
    </div>

}

<style>
    #createForm {
        padding-left: 5%;
        width: 80%;
    }
</style>
@section Scripts
{
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/themes/texteditor.css" rel="stylesheet" />
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/jquery.texteditor.js"></script>

    <script>
        $(function () {
            $('#textEidtor').texteditor({
                noheader: true,
            })
            if ($('#content').val() !== "") {

                $('#textEidtor').texteditor('setValue', $('#content').val());

            }


            $('#uploadProgress').progressbar({
                value: 0
            });
        }



        )
        function PushKnowledge() {
            var text = $('#textEidtor').texteditor('getValue');
            $('#content').val(text);

          var arr =  $.map(document.querySelectorAll('#uplist>li'), function (value) {
              return value.dataset.file;

            })
            if (arr !=null && arr.length !=0) {
                $('#accessoHidden').val(arr.join("|"));
            }

        }



    </script>



}

